@model SuperPuperTaxi.Models.Order

<p meta="charset = utf-8 ">Ваш заказ принят к исполнению. Ожидайте.</p><br />
<body>
    <Order>
        <lable>Откуда: @Model.From</lable> <br>
        <lable>Куда: @Model.To</lable> <br>
        <lable>Когда: @Model.DepartureTime</lable><br>
    </Order>
</body>
